<!DOCTYPE html>
<html lang="ja">

<head>
 <meta charset="utf-8">
 <title>ck-shift</title>
 <meta name="description" content="ck-shift">
 <link rel="stylesheet" href="./style.css">
 <script type="text/javascript" src="javascript/test.js"></script>
 
</head>

 <body>

 <header id="pageHead">
 <h1 id="siteTitle">ck-shift</h1>
 <p id="catchcopy">~Tokyo Business Clinic~</p>

<div class="globalNavi"> 
 <ul>
 <li ><a href="#">シフト表</a></li>
 <li><a href="#">シフト規則</a></li>
 <li><a href="#">スタッフリスト</a></li>
  <li><a href="#">希望休送信</a></li>
  <li><a href="#">お問い合わせ</li>
 </ul>
 </div>
 
 </header>

    <main>
        <div class="localNavigation">
            <p>ローカルナビゲーション</p>
        </div>
        <div class="content">
            <p>コンテンツ</p>

<table>

<div class="comment">
  <tr>
  <th>氏名</th>
    <td>データ</td>
    <td>データ</td>
    <td>データ</td>   
    <td>データ</td>
    <td>データ</td>
    <td>データ</td>
  </tr>
  </div>

</table>




</main>

    <footer>フッターですです</footer> 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>


 </body>
 </html>




